img {
    max-width: 100%;
}

body {
    background-color: #A39E9D;
    align-items: center;
}

/* Mobile view */

#container {
    margin: 10px;
}
main img {
    border-radius: 20px;
}

header {
    background-color: #A71E04;
    padding: 20px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a{
    background-color: #E5DDDC;
    display: block;
    margin: 5px 0;
    color: black;
    font-size: 1.5em;
    height: 40px;
    line-height: 50px;
    text-decoration: none;
    text-shadow: 1px 2px 2px #000;
}

nav li a:hover {
    background-color: red;
    color: grey;
    text-shadow: none;
}

section, aside {
    padding: 10px;
}

section {
    background-color:   #6D5E5D;
}

section h1 {
    font-size: 1.5em;
    text-align: center;
    color: red;
    text-shadow: 2px 1px 3px #000;
}

aside {
    background-color: blanchedalmond;
    margin-top: 10px;
}

aside h2, aside h3 {
    color: grey;
    text-align: center;
    text-shadow: 1px 1px .5px #000;
}

aside hr {
    border-color: black;
}

footer {
    background-color: white;
    padding: 40px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 1px #000;
}

/*Tablet sytles*/

@media screen and (min-width: 768px) {
    header img {
        display: block;
        width: 78%;
        margin: 10px auto;
    }

    header {
        color: white;
        background-image: url('../dbdpic/dbdbanner3.jpeg') ;
        font-size: 2em;
    }
    main {
        display: flex;
    }

    nav {
        background-color: black;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 300px;
    }

    section img, aside img {
        display: block;
        width: 65%;
        margin: 10px auto;
    }
    section h1, aside h2 {
        font-size: 3px;
    }
    aside h3 {
        font-size: 1.5em;
    }
}

/* desktop styles*/

@media screen and (min-width: 1024px) {
    header {
        border-radius: 40px 40px 0 0;
        font-size: 3em;
        background-image: url('../dbdpic/dbdbanner.png') ;
    }

    header img {
        width: 40%;
    }

    nav {
        background-color: grey;
    }
    nav li {
        margin: 0 10px;
    }
    nav li a {
        text-shadow: none;
        color: black;
        font-weight: bold;
        border-radius: 20px;
        height: 60px;
        width: 200px;
        line-height: 68px;
    }

    nav li a:hover {
        color: whitesmoke;
    }

    main {
        display: flex;
    }
    
    section, aside {
        margin: 10px;
    }

    section {
        width: 70%;
    }

    aside {
        width: 38%;
    }
    footer {
        border-radius: 0 0 20px 20px;
    }
}