body {
    font-family: 'Open Sans Condensed', sans-serif;
}

header{
    background-color: beige;
    padding: 10px 0;
    margin: 5px;
    width: auto;
}

header h1{
    color: black;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.slider {
    align-items: center;
    
}

#headerMich {
    background-image: url('../images/the-creation-of-adam-michelangelo.jpg');
}
#headerRap {
    background-image: url('../images/college.jfif');
}

#headerREM {
    background-image: url('../images/nightw.jfif');
}
#headerVin {
    background-image: url('../images/vinvangogh.jfif');
}
.image_box {
    float: left;
  width: 32%;
  padding: 1px;
  border: 3px solid black;
  margin: 1px;
}
.row::after{
    content: "";
    clear: both;
    display: table;

}
aside {
    background-color: beige;
    
    
}
/* mobile styles */

section {
    background-color: beige;
    margin: 5px;
    padding: 10px;

}


section h2 {
    text-align: center;
    color: black;
}
footer {
    background-color: beige;
    padding: 40px 0;
    text-align: center;
    color: black;
}

#menu {
    display: none;
}

.slicknav_menu {
    background-color: beige;
}

.slicknav_btn {
    background-color: black;
}

/* tablet styles */
@media only screen and (min-width: 768px) {


    .slicknav_menu {
        display: none;
    }

    #menu {
       display: block;
    }
    header {
        height: 250px;
    }
    header h1 {
        font-size: 50px;
        line-height: 200px;
    }
    nav {
        text-align: center;
        background-color: burlywood;
    }

    nav ul {
        padding: 0;
        list-style-type: none;
    }



    nav li {
        display: inline-block;
    }

    nav li a {
        display: block;
        background-color: burlywood;
        padding: 10px 0;
        width: 175px;
        color: black;
        font-size: 1.5em;
        text-decoration: none;
    }

    nav li a:hover {
        background-color: cadetblue;
        text-decoration: none;
    }
}

/* desktop */

@media only screen and (min-width: 1024px) {
    #container {
        
        margin: 20px auto;
    }

    main {
        display: flex;
    }

    section {
        width: 70%;
    }

    aside {
        width: 30%;
    }

}

